---
const platform = "github";
const username = "Newman5";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Learn more about me on <a href=`https://www.youtube.com/@newman5`>youtube</a>!</p>

</footer>